/* ======== Header ==================== */

.header {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid black;
}

.header h2 {
    margin-left: 50px;
    margin-right: auto;
}

.header h2 a {
    text-decoration: none;
    color: black;
}

.header .navigation {
    display: flex;
    margin-right: 50px;
}

.header .navigation .nav-list {
    display: flex;
}

.header .navigation .nav-list .nav-item {
    margin: 8px 10px 0px 10px;
}

.header .navigation .nav-list .nav-item a {
    text-decoration: none;
    color: blue;
}

.header .navigation .nav-list .nav-item a:hover {
    text-decoration: underline;
    color: black;
}

.header .navigation button {
    all: unset;
    margin-left: 20px;
    font-size: 26px;
}

.header .navigation button:hover {
    cursor: pointer;
}

/* ============= Home page ================ */

.home-img {
    width: 100%;
    height: 85vh;
    position: relative;
}

.home-img img {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.home-img .title {
    position: absolute;
    top: 200px;
    left: 200px;
    color: #fff;
    font-size: 36px;
}

.home-img .author {
    position: absolute;
    right: 30px;
    bottom: 20px;
    color: gray;
}

/* ========== Footer ======================= */

.footer {
    display: flex;
    padding: 6px 0px;
}

.footer h4 {
    margin: 0 auto;
}

.footer span {
    margin-right: 20px;
}

/* ============ Page 404 ================== */

.page-404 {
    text-align: center;
    height: 80vh;
    padding: 100px;
}

.page-404 .sad-face {
    margin: auto;
    height: 30vh;
    margin-bottom: 30px;
}

/* =================== Catalog ============ */

.catalog {
    padding: 50px;
    border-bottom: 2px solid black;
}

.catalog h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
}

.catalog .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.catalog .cards .card {
    width: 40%;
    height: 65vh;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.catalog .cards .card div:first-of-type {
    width: 100%;
    height: 100%;
}

.catalog .cards .card div:first-of-type:hover {
    width: 110%;
    height: 110%;
    transition: width 2s, height 2s, transform 2s;
}

.catalog .cards .card div:first-of-type img:first-of-type {
    height: 65%;
    width: 100%;
    margin-bottom: 3px;
}

.catalog .cards .card div:first-of-type .small-images {
    display: flex;
    gap: 3px;
}

.catalog .cards .card div:first-of-type .small-images div {
    width: 33%;
}

.catalog .cards .card div:first-of-type .small-images div img {
    object-fit: cover;
}

.catalog .cards .card .author {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: gray;
    border-radius: 5px;
    padding-right: 8px;
}

.catalog .cards .card .author span:first-of-type {
    margin-left: 12px;
    color: #fff;
    font-style: italic;
}

.catalog .cards .card .author span:last-of-type {
    font-weight: bold;
    color: #fff;
}