<main class="catalog">
    <h2>Explore Flashlight users collections </h2>
    <div class="cards">
        <div class="card">
            <a href="">
                <div>
                    <img src="/images/may-law-turtle.jpeg" alt="turtle">
                    <div class="small-images">
                        <div>
                            <img src="/images/may-law-sepia.jpeg" alt="sepia">
                        </div>
                        <div>
                            <img src="/images/may-law-exotic-fish.jpeg" alt="exotic-fish">
                        </div>
                        <div>
                            <img src="/images/may-law-water-world.jpeg" alt="water-world">
                        </div>
                    </div>
                </div>
                <div class="author"><span>photographer: </span><span>May Law</span>
                </div>
            </a>
        </div>

        <div class="card">
            <a href="">
                <div>
                    <img src="/images/may-law-turtle.jpeg" alt="turtle">
                    <div class="small-images">
                        <div>
                            <img src="/images/may-law-sepia.jpeg" alt="sepia">
                        </div>
                        <div>
                            <img src="/images/may-law-exotic-fish.jpeg" alt="exotic-fish">
                        </div>
                        <div>
                            <img src="/images/may-law-water-world.jpeg" alt="water-world">
                        </div>
                    </div>
                </div>
                <div class="author"><span>photographer: </span><span>May Law</span>
                </div>
            </a>
        </div>

         <div class="card">
            <a href="">
                <div>
                    <img src="/images/may-law-turtle.jpeg" alt="turtle">
                    <div class="small-images">
                        <div>
                            <img src="/images/may-law-sepia.jpeg" alt="sepia">
                        </div>
                        <div>
                            <img src="/images/may-law-exotic-fish.jpeg" alt="exotic-fish">
                        </div>
                        <div>
                            <img src="/images/may-law-water-world.jpeg" alt="water-world">
                        </div>
                    </div>
                </div>
                <div class="author"><span>photographer: </span><span>May Law</span>
                </div>
            </a>
        </div>

         <div class="card">
            <a href="">
                <div>
                    <img src="/images/may-law-turtle.jpeg" alt="turtle">
                    <div class="small-images">
                        <div>
                            <img src="/images/may-law-sepia.jpeg" alt="sepia">
                        </div>
                        <div>
                            <img src="/images/may-law-exotic-fish.jpeg" alt="exotic-fish">
                        </div>
                        <div>
                            <img src="/images/may-law-water-world.jpeg" alt="water-world">
                        </div>
                    </div>
                </div>
                <div class="author"><span>photographer: </span><span>May Law</span>
                </div>
            </a>
        </div>

         <div class="card">
            <a href="">
                <div>
                    <img src="/images/may-law-turtle.jpeg" alt="turtle">
                    <div class="small-images">
                        <div>
                            <img src="/images/may-law-sepia.jpeg" alt="sepia">
                        </div>
                        <div>
                            <img src="/images/may-law-exotic-fish.jpeg" alt="exotic-fish">
                        </div>
                        <div>
                            <img src="/images/may-law-water-world.jpeg" alt="water-world">
                        </div>
                    </div>
                </div>
                <div class="author"><span>photographer: </span><span>May Law</span>
                </div>
            </a>
        </div>
    </div>
</main>