<div class="home-img">
    <img src="/images/pexels-photo-8495484.jpeg" alt="night sky">

    <div class="overlay"></div>

    <h1 class="title">Explore the best free stock photos shared by creators.</h1>
    <span class="author">Photo by Thirdman</span>
</div>